div{
	//width: 250px;
	//height: 150px;
	font-size: 30px;
	//float: right;
	//float: center;
	text-align: center;

}
div corazon{
	width: 250px;
	height: 150px;
	font-size: 30px;
	//float: right;
}

.corazon{
	position: absolute;
	top:0px; 
	bottom:0px;
	right:0px;
	left:0px;
}
.caja{
	position: absolute;
	top:0px; 
	bottom:0px;
	right:0px;
	left:0px;
}

.cajagrande{
	position: absolute;
	width: 500px;
	height: 500px;
	display: inline;

}
.rosa{
	background:  pink;
}
.amarillo{
	background:  yellow
}
.azul{
	background:  blue
}
.morado{
	background:  purple;
	width:50%;
	float: left;

}
.verde{
	background:  green;
	//position: relative;
	width: 50%;
	float:right;
}



